/app/bootstrap.php.cache
!app/cache/.gitkeep
/app/config/parameters.yml
!app/logs/.gitkeep
/app/phpunit.xml
/bin/
/composer.phar
/vendor/
/web/bundles/
/web/css/
/web/img/
/web/js/
.idea/
/var/
/resources/
/features/web/